.wiew_more{
    margin-top: 69px;
  margin-left: 42%;  
    width: 196px;
  height: 46px;
  background-color: #345DEE;
  color: white;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.wiew_more:hover {
  background-color: white;
  color: #345DEE;
  border: 2px solid #345DEE;
}

/* .about_button{
    
    
} */